body {
    background-color: #76BCE3;
    font-family: 'Quicksand', sans-serif;
    height: 200vh;
    border: green solid 2px;

} 

h1 , h2 , h4 {
    color: white;
}

#cabecalhoImagem {
    background-image: url(/src/assets/Studio_Ghibli_Logo.0.jpg);
    position: relative;
    height: 60vh;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    opacity: 80%;
    border: red solid 2px;
}

#titulo {
    top: 15%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    
    z-index: 1;
    border: blue solid 2px;
}

#barraBusca {
    position: relative;
    top: 10%;
    border: yellow solid 2px;
    display: grid;
    grid-template-columns: 9% 10% 65%;
    gap: 5%;
    
}

#pesquisar {
    text-align: end;
}
#ordenarAz {
    text-align: end;
}

#score {
    position: relative;
    border: white solid 2px;
    top: 10%;
    text-align: center;
}

#card {
    width: 20%;
    border-radius: 8px;
    background-color: #9CD4D1;
    border: black solid 2px;
}
#cardImg {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;    
    border: purple solid 2px; 
}
#cardDescricao {
    
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: x-small;
    border: gray solid 2px;
}
#displayCards {
    
    padding: 5%;
    border: rgb(237, 18, 215) solid 2px;
}