body {
    background-color: #76BCE3;
    font-family: 'Quicksand', sans-serif;
    height: auto;
    border: green solid 2px;

} 

main{
    border: orangered 5px solid;
}


h1 , h2 , h4 {
    color: white;
}

#cabecalhoImagem {
    background-image: url(/src/assets/Studio_Ghibli_Logo.0.jpg);
    position: relative;
    height: 60vh;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: hidden;
    opacity: 80%;
    border: red solid 2px;
}

#titulo {
    top: 15%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    
    z-index: 1;
    border: blue solid 2px;
}

#barraBusca {
    position: relative;
    top: 10%;
    border: yellow solid 2px;
    display: grid;
    grid-template-columns: 9% 10% 65%;
    gap: 5%;
    align-content: center;
}

#pesquisar {
    text-align: end;
}
#ordenarAz {
    text-align: end;
}

#score {
    position: relative;
    border: white solid 2px;
    top: 10%;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    border: #f0f 1px solid;
    row-gap: 18px;
    gap: 15px;
    text-align: center;
    align-items: center;
    position: relative;
    
}

.card img {
    width: 243px;
    height: 348px;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    
}

.descricao {
    border: black 2px solid;
    height: 100px;
    margin-top: 400px;
}