* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  color: white;
}
body {
  background-color: #76bce3;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

#containerImagem {
  background-image: url(/src/assets/Studio_Ghibli_Logo.0.jpg);
  height: 60vh;
  width: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
  overflow: hidden;
}
/* 
#titulo {
  position: absolute;
  top: 0;
  left: 0;
  
 
  text-align: center;
  padding: 20px;
} */

#headerContainer {
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 16px auto;
}

#titulo{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 30px;
     
}
